<%= render Sitepress::Page::Component.new(page) do |page| %>
  <% page.with_title(title: title) %>

  <h3 class="italic -mt-4 flex align-middle text-slate-300">
    <%= helpers.inline_svg_tag "calendar.svg", class: "fill-slate-300 w-6 h-6 mr-2 inline-block" %>
    <%= published_at %> by <%= author %>
  </h3>
  <%= reading_time if reading_time? %>

  <article class="prose prose-invert max-w-full max-w-full mt-6">
    <%= render Image::Component.new(
      path: @banner_image_url,
      alt: title
    ) %>

    <% if twitter_widget? %>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <% end %>

    <%= content %>
  </article>
<% end %>
