<!DOCTYPE html>
<html data-controller="layout" data-action="turbo:load->layout#logActiveControllers">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>

    <%= vite_javascript_tag "application.js", media: "all", "data-turbo-track": "reload" %>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8" data-turbo-track="reload"></script>

    <% begin %>
      <%= display_meta_tags title: current_page.data["title"] %>
    <% rescue %>
      <%= display_meta_tags title: yield(:title) || "berry.sh" %>
    <% end %>
  </head>

  <body class="font-inter antialiased bg-slate-800 text-slate-100 tracking-tight">
    <div data-controller="scroll-progress" class="h-2 bg-indigo-400 fixed top-0"></div>

    <a href="https://resume.io/r/j3XGOzm83" target="_blank" class="text-black flex justify-center items-center bg-amber-400 w-full p-3 md:p-2 font-bold text-sm md:text-base text-center">
      <span class="block md:inline-block">I am currently looking for a new role.<span>
      <span class="block md:inline-block">Click here to view my resume »</span>
    </a>

    <div class="flex flex-col">
      <%= render partial: "header" %>
        <%= yield %>
      <%= render partial: "footer" %>
    </div>
  </body>
</html>
