<!DOCTYPE html>
<html data-controller="layout" data-action="turbo:load->layout#logActiveControllers">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>

    <%= vite_javascript_tag "application.js", media: "all", "data-turbo-track": "reload" %>

    <% begin %>
      <%= display_meta_tags title: current_page.data["title"] %>
      <% rescue %>
      <%= display_meta_tags title: yield(:title) || "berry.sh" %>
    <% end %>
  </head>

  <body class="font-inter antialiased bg-slate-800 text-slate-100 tracking-tight">
    <% if request.path =~ /^\/blog\/\S+/ %>
      <div data-controller="scroll-progress" class="h-2 bg-indigo-400 fixed top-0"></div>
    <% end %>

    <%= link_to "https://resume.io/r/j3XGOzm83", target: "_blank", class: "text-black flex justify-center items-center bg-amber-400 w-full p-3 md:p-2 text-center" do %>
      <%= tag.span "I'm currently looking for a new role.", class: "block md:inline-block text-sm md:text-base mx-1" %>
      <%= tag.span "Click here to view my resume »", class: "block md:inline-block font-bold mx-1" %>
    <% end %>

    <%= tag.div class: "flex flex-col" do %>
      <%= render partial: "header" %>
      <%= tag.div(class: "px-4 md:px-0") { yield } %>
      <%= render partial: "footer" %>
    <% end %>

    <%= c_scroll_to_top %>
  </body>
</html>
